bot_token = ''

db_url = 'mongodb://localhost:27017'
db_name = ''

admins = [
    
]

texts = {
    'start': 'Привет! Через меня можно принимать платежи за вход в приватные каналы/чаты!\nЧтобы начать, нажми "Добавить канал"',
    'add_channel': 'Добавить канал',
    'enter_channel_id': 'Введите ID вашего канала/чата: (или перешлите любое сообщение с канала/чата)',
    'already_added': 'Канал ранее был добавлен!',
    'error_add_channel': 'Неверный ID канала, повторите попытку!\nВозможно, Вы меня туда не добавили 😢',
    'channel_added': 'Канал добавлен!',

    'enter_qiwi_token': 'Введите Ваш P2P-Qiwi ключ: <b>("." или "-" для пропуска)</b>',

    'channel': 'Информация о канале:\nID: <code>{id}</code>\nНазвание: <code>{title}</code>\nОписание: <code>{description}</code>',
    '_channels': 'Список каналов',
    'channels': 'Список ваших каналов:',
    'no_channel': 'Канал не найден!',

    'enter_join_cost': 'Введите цену за вход в {currency_type}:',
    'error_join_cost': 'Неверная сумма, повторите попытку!',

    'menu': 'Главное меню',

    'buy': 'Купить доступ',

    'channel_topup': 'Вы покупаете доступ к <b>{title}</b>\n\nВыберите способ оплаты:',
    'topup': 'Оплата через {payment_type}:\n\n{details}',
    'topup_btc': 'Отправьте <code>{amount}</code> на этот адрес: <code>{address}</code>',
    'new_topup': 'Пришла новая оплата входа в канал через <b>{payment_type}</b>!\n\n{details}',
    'succesful_topup': 'Оплата успешно пройдена!\n\nВаша ссылка для входа: {invite_link}',
    'check_topup': 'Проверить оплату',
    'reject_topup': 'Отменить оплату',

    'btc_details': 'Адрес: <code>{address}</code>\nПриватный ключ: <code>{private}</code>\nПубличный ключ: <code>{public}/code>',
    'not_paid': 'Оплата пока не пройдена!',
    'join': 'Войти',

    'pay': 'Оплатить',

    'cancel': 'Отменить',
    'cancelled': 'Отменено',
    'delete': 'Удалить из списка',
    'deleted': 'Канал удалён!',

    'users': 'Пользователей в боте: <code>{count}</code>',

    'enter_mail': 'Отправьте сообщение для рассылки:',
    'enter_mail_markup': 'Отправьте клавиатуру в формате: <b>(пропустить: "-", ".")</b>\n\n<code>текст - ссылка\nтекст - ссылка</code>',
    'incorrect_mail_markup': 'Некорретная клавиатура, повторите попытку!',
    'sending_mail': 'Отправка рассылки...',
    'mail_stats': 'Статистика рассылки:\nОбщее: <code>{total}</code>\nДоставлено: <code>{sent}</code>\nЗаблокировали: <code>{unsent}</code>\nЗавершена за: <code>{time} секунд</code>'
}

payment_types = [
    'QIWI', 'Bitcoin'
]

payment_blocks = [
    0, 100
]

currency_type = 'RUB'
